@import url(https://fonts.googleapis.com/css?family=Dosis:600);

*,*::after,*::before{
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

a{
    text-decoration:none
}

[hidden] {
    display: none
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0
}

body {
    margin: 0
}

/*
 based on http://paletton.com/#uid=12y0u0k86mh3tfi00++62NQmJD8
*/

.soft{
 background: rgb(222, 245, 199); /*#DEF5C7*/
}

.dark{
 background: rgb(104, 110, 98); /*#686E62*/
}

.white{
 background: rgb(255, 255, 255);/*#FFFFFF*/
}

.background{
 background: rgb(140, 160, 120); /*#8CA078*/
}

.green{
 background: #99EC44;
}

/*fonts*/

@font-face {
  font-family: 'Bretan';
  src: url('fonts/Bretan.eot'); /* IE9 Compat Modes */
  src: url('fonts/Bretan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Bretan.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Bretan.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Bretan.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Bretan.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html { font-size: 62.5%; } 

body { font-size: 14px; font-size: 1.4rem; } /* =14px */

label { font-size: 24px; font-size: 2.4rem; } /* =24px */

footer{
   background: #686E62;
   color: white;
   text-align: center;
   padding: 2rem;
   font-size: 1rem;
   font-size: 10px;
}


/*form styles*/
input{
    width: 100%;
    -webkit-mask-composite: initial;
    -webkit-border-end-width: inherit;
    background-blend-mode: initial;
    background-clip: border-box;
    background:  rgb(222, 245, 199); /*#DEF5C7*/;
    background:  #DEF5C7;
    padding: 7px;
    padding: 0.7rem;
}


input[type='submit']{
 background : #8CA078;
 color: #0B0F07;
}

.errorInput{
    background: #FF574A;
    color: white;
}

/*.errorInput::after , .errorInput:after{
    content: url(../img/svg/redalert.svg);
}*/

.errorMsg::before, .errorMsg:before{
    content:"Error: ";
}

.errorMsg{
    font-size: 1.2rem;
    font-size: 12px;
}

.title{
     font-family: 'Dosis',Arial,Helvetica Neue,Helvetica,sans-serif;
     color: white;
     float: right;
     width: 100%;
     text-align: center;
     padding: 7px;
     padding: 0.7rem;
}

/*autocomplete styles*/

.autocomplete-suggestions{
     background: white;    
     color: black;
     padding: 1.4rem;
     -webkit-box-shadow: 21px 15px 40px -8px rgba(0,0,0,0.83);
     -moz-box-shadow: 21px 15px 40px -8px rgba(0,0,0,0.83);
     box-shadow: 21px 15px 40px -8px rgba(0,0,0,0.83);
     overflow: auto;
}

.autocomplete-suggestion{
    font-family: 'Bretan',Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: -large;
    text-rendering: optimizeLegibility;
    text-overflow: ellipsis;
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.autocomplete-selected{
    color: black;
    background: #DEF5C7;
    border-radius: 75px 75px 75px 75px;
    -moz-border-radius: 75px 75px 75px 75px;
    -webkit-border-radius: 75px 75px 75px 75px;
    border: 1px solid #6d736f;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 34%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(34%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 34%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 34%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 34%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 34%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100); 
    opacity: 1;
}
